* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: hsl(0, 0%, 82%);
  --btn-color: hsl(0, 0%, 26%);
  --txt-color: rgba(0, 0, 0, 0.801);

  --bg-drk-mode: hsl(0, 0%, 16%);
  --btn-drk-mode: hsl(0, 0%, 54%);
  --txt-drk-color: hsl(0, 0%, 100%);
}

/*Dark moon theme && Lighmode*/
body {
  background-color: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--txt-color);
  box-shadow: var(--star);
  transition: all, ease 1.5s;
}
body.dark {
  color: var(--txt-drk-color);
  background-color: var(--bg-drk-mode);
  box-shadow: var(--drk-star);
}
.centralizado {
  margin: auto;
  max-width: 700px;
}
.btn-dark-mode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*DARK MOON && LIGHT MODE - BTN*/
#btn-lmode,
#btn-dmode {
  margin-top: 2.4rem;
  margin-inline: 10%;

  width: 3rem;
  height: 3rem;

  border-radius: 0.8rem;
  background-color: var(--txt-color);
  color: rgb(255, 255, 255);

  border: none;
  transition: all, ease-out 1s;
}

#btn-dmode:hover,
#btn-lmode:hover {
  background-color: rgba(0, 0, 0, 0.486);
  color: rgb(199, 199, 199);
}

/*Aparecendo e sumindo*/
body.dark .btn-dark-mode #btn-dmode,
body .btn-dark-mode #btn-lmode {
  opacity: 0;
}
body.dark .btn-dark-mode #btn-lmode,
body .btn-dark-mode #btn-dmode {
  opacity: 1;
}

/*Animações*/
.animate__heartBea {
  animation: heartBeat;
  animation-duration: 0.8s;
}
.animate__flipInX {
  animation: flipInX;
  animation-duration: 1s;
}

/*=======PAGE CONTENT=======*/
header {
  display: flex;
  margin-top: 0.5%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.6rem 8rem;
  gap: 1rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 16px 80px;
  gap: 10px;
}
.container a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 53px;

  background: var(--btn-color);
  border-radius: 6px;

  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: white;

  transition: all, ease-in 0.5s;
}
.container a:hover {
  background-color: hsl(0, 0%, 54%);
  transition: all, ease-in 0.5s;
}
.dark .container a:hover {
  background-color: hsl(0, 0%, 54%);
  transition: all, ease-in 0.5s;
}
.container a i {
  padding-right: 5px;
}
h1 {
  font-family: 'Dancing Script', cursive;
}
#share-p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  margin-top: 2.5rem;
}

/* ===========DARK MOON============= */
a {
  text-decoration: none;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: left;

  margin-top: 1.5rem;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*========COMPARTILHAMENTO==========*/
body.dark .wrapper :is(.btn, .link) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: black;
  border-radius: 50%;
  transition: all, ease-out 0.5s;
}
.wrapper :is(.btn, .link) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--btn-color);
  color: var(--bg-color);
  border-radius: 50%;
  transition: all, ease-out 0.5s;
}
.btn {
  position: absolute;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: outline 0.25s;
}

body.dark .wrapper button,
.wrapper button {
  transition: all, ease-out 1.5s;
}

.active .btn,
.btn:hover {
  outline: 5px solid var(--bg-color);
  outline-offset: -4px;
  transition: all, ease-in 0.1s;
}
body.dark .active .btn,
body.dark .btn:hover {
  outline: 5px solid var(--bg-drk-mode);
  outline-offset: -4px;
  transition: all, ease-in 0.1s;
}

.item {
  position: absolute;
  list-style: none;
  transition: transform 0.5s;
  transition-delay: var(--d);
}

.wrapper.active .item:nth-child(1) {
  transform: translateX(-65px);
}

.wrapper.active .item:nth-child(2) {
  transform: translateY(-65px);
}

.wrapper.active .item:nth-child(3) {
  transform: translateX(65px);
}

.link:hover {
  color: #fff;
  transition: background-color 0.25s;
}

.ig:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.wa:hover {
  background-color: rgba(53, 146, 53, 0.671);
}

.gh:hover {
  background-color: rgba(128, 128, 128, 0.548);
}
body.dark .ig:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

body.dark .wa:hover {
  background-color: rgba(53, 146, 53, 0.671);
}

body.dark .gh:hover {
  background-color: rgba(128, 128, 128, 0.548);
}

/*========STAR ANIMATION==========*/
.stars {
  width: 3px;
  height: 3px;
  margin-left: -23rem;
  border-radius: 50%;
  box-shadow: 50px 30px var(--bg-drk-mode), 100px 80px var(--bg-drk-mode),
    80px 120px var(--bg-drk-mode), 300px 20px var(--bg-drk-mode),
    250px 130px var(--bg-drk-mode), 200px 50px var(--bg-drk-mode),
    150px 100px var(--bg-drk-mode), 320px 100px var(--bg-drk-mode);
  animation: anim-stars 10s linear infinite;
  transition: all, ease 0.5s;
}
@keyframes anim-stars {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-150px);
  }
}
.stars::after {
  content: ' ';
  width: 3x;
  height: 3px;
  border-radius: 50%;
  box-shadow: 50px 30px var(--bg-drk-mode), 100px 80px var(--bg-drk-mode),
    80px 120px var(--bg-drk-mode), 300px 20px var(--bg-drk-mode),
    250px 130px var(--bg-drk-mode), 200px 50px var(--bg-drk-mode),
    150px 100px var(--bg-drk-mode), 320px 100px var(--bg-drk-mode);
}

/*====EFFECTS ON DARK MOON======*/
.dark .stars {
  width: 3px;
  height: 3px;
  margin-left: -23rem;
  border-radius: 50%;
  box-shadow: 50px 30px white, 100px 80px white, 80px 120px white,
    300px 20px white, 250px 130px white, 200px 50px white, 150px 100px white,
    320px 100px white;
  animation: anim-stars 10s linear infinite;
  transition: all, ease 0.5s;
}
.dark .stars::after {
  content: ' ';
  width: 3x;
  height: 3px;
  border-radius: 50%;
  box-shadow: 50px 30px white, 100px 80px white, 80px 120px white,
    300px 20px white, 250px 130px white, 200px 50px white, 150px 100px white,
    320px 100px white;
}
